# SPDX-License-Identifier: GPL-2.0-only
config BACKPORT_BRCMUTIL
	tristate
	depends on !BRCMUTIL

config BACKPORT_BRCMSMAC
	tristate "Broadcom IEEE802.11n PCIe SoftMAC WLAN driver"
	depends on !BRCMSMAC
	depends on BACKPORT_BCMA_POSSIBLE
	select BACKPORT_BCMA
	select NEW_LEDS if BACKPORT_BCMA_DRIVER_GPIO
	select LEDS_CLASS if BACKPORT_BCMA_DRIVER_GPIO
	select BACKPORT_BRCMUTIL
	depends on CORDIC
	## disabled to fix recursive dependency instantly.
	#depends on BACKPORT_MAC80211
	#depends on FW_LOADER
	help
	  This module adds support for PCIe wireless adapters based on Broadcom
	  IEEE802.11n SoftMAC chipsets. It also has BACKPORT_WLAN led support, which will
	  be available if you select BACKPORT_BCMA_DRIVER_GPIO. If you choose to build a
	  module, the driver will be called brcmsmac.ko.

source "$BACKPORT_DIR/drivers/net/wireless/broadcom/brcm80211/brcmfmac/Kconfig"

config BACKPORT_BRCM_TRACING
	bool "Broadcom device tracing"
	depends on !BRCM_TRACING
	depends on BACKPORT_BRCMSMAC || BRCMFMAC
	help
	  If you say Y here, the Broadcom wireless drivers will register
	  with ftrace to dump event information into the trace ringbuffer.
	  Tracing can be enabled at runtime to aid in debugging wireless
	  issues. This option adds a small amount of overhead when tracing
	  is disabled. If unsure, say Y to allow developers to better help
	  you when wireless problems occur.

config BACKPORT_BRCMDBG
	bool "Broadcom driver debug functions"
	depends on !BRCMDBG
	depends on BACKPORT_BRCMSMAC || BRCMFMAC
	select WANT_DEV_COREDUMP if BACKPORT_BRCMFMAC
	help
	  Selecting this enables additional code for debug purposes.
